.button
    position: relative
    overflow: hidden
    transition: background 400ms
    border: 5px #6200ee
    color: #fff
    background-color: #6200ee
    padding: 0.5em 1em
    font-family: 'Roboto', sans-serif
    font-size: 1rem
    outline: 0
    border-radius: 0.25rem
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3)
    cursor: pointer
    &:hover
        background-color: #6300ee88
    
    &:active
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3)
        outline: 0
.button--small
    font-size: 0.8rem
    padding: 0.25em 0.5em
    border-radius: 0.125rem
.button--large
    font-size: 1.2rem
    padding: 0.75em 1.5em
    border-radius: 0.5rem
    
.button-light
    position: absolute
    border-radius: 50%
    border: 0
    transform: scale(.3)
    box-shadow: 0 0 50px 50px #6200ee
    width: 50px
    height: 50px
    background: #6200ee
    z-index: -2
.button-light-full
    transition: transform .35s ease-in-out
    transform: scale(2)
.button-content
