@use "../vars";
@use "../colors";

@mixin input-base {
  font-family: inherit;
  accent-color: colors.$primary;
  border: 0;
  padding: 8px;
  margin: 4px 0;
  border-radius: vars.$border-radius;
  backdrop-filter: vars.$elevation-filter;
  background-color: colors.$elevation;
  color: colors.$background-text;
  font-size: 1rem;
  &:not([type=checkbox]) {
    width: 100%;
  }
  &[type=checkbox] {
    width: 1em;
    height: 1em;
  }
  &:focus {
    outline: 2px solid colors.$primary;
  }
}

@mixin choice-base {
  border: 0;
  padding: 8px;
  margin: 4px 0;
  border-radius: vars.$border-radius;
  backdrop-filter: vars.$elevation-filter;
  background-color: colors.$elevation;
  color: colors.$background-text;
  background-repeat: no-repeat;
  font-size: 1em;
  appearance: none;
  width: 100%;
  &:focus {
    outline: 2px solid colors.$primary;
  }
}

@mixin select-enhancements {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='white'><polygon points='0,0 100,0 50,50'/></svg>") no-repeat;
  background-position: calc(100% - 8px) calc(50% + 3px);
  background-size: 12px;
  padding-right: 28px;
  background-color: colors.$elevation;
}

@mixin option-base {
  border: 0;
  padding: 8px;
  margin: 4px 0;
  background-color: colors.$background;
  color: colors.$background-text;
}

@mixin readonly-base {
  cursor: not-allowed;
  pointer-events: none;
  background-color: colors.$background;
  color: colors.$background-text;
}
