@use "vars";
@use "colors";

button, .btn {
  display: inline-block;
  background: transparent;
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  cursor: pointer;

  color: colors.$background-text;
  &.active,
  &:hover {
    color: colors.$primary;
    text-decoration: underline;
  }

  &.full {
    width: 100%;
    flex: 1;
  }

  &.primary,
  &.secondary {
    background: transparent;
    text-decoration: none;
  }
  &.primary:hover {
    background: colors.$panel;
  }
  &.primary.active,
  &.secondary.active,
  &.secondary:hover {
    color: colors.$background;
    background: colors.$primary;
  }
  &.primary {
    color: colors.$primary;
  }
  &.secondary {
    color: colors.$background-text;
  }
}
