@use "vars";
@use "mixins/button" as button;

@if vars.$enable-default-styling {
  button {
    @include button.button-base;
    @include button.button-disabled;
  }
}

.btn {
  @include button.button-base;
  @include button.button-disabled;
}
