@use "vars";
@use "colors";

button, .btn {
  display: inline-block;
  background: transparent;
  border: none;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-weight: bolder;
  font-size: 1rem;
  border-radius: vars.$border-radius;
  padding: 0.5rem 1rem;
  cursor: pointer;

  color: colors.$background-text;
  &:hover {
    text-decoration: underline;
  }
  &.active {
    color: colors.$primary-light;
  }

  &.primary, &.secondary {
    text-decoration: none;
  }

  &.primary {
    background-color: colors.$primary;
    color: colors.$primary-text;
    &.active {
      background-color: colors.$primary-light;
      &:hover {
        background-color: colors.$primary;
      }
    }
    &:hover {
      box-shadow: vars.$box-shadow colors.$primary;
    }
  }

  &.secondary {
    background-color: colors.$panel;
    color: colors.$panel-text;
    &.active {
      color: colors.$primary-light;
      &:hover {
        background-color: colors.$primary;
      }
    }
    &:hover {
      background-color: colors.$primary;
      color: colors.$primary-text;
    }
  }
}
