@use "colors";
@use "vars";

.card,
button.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 16px;
  border-radius: vars.$border-radius;
  border-style: solid;
  border-width: 1px;
  border-color: colors.$elevation;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  color: colors.$background-text;
  backdrop-filter: none;
  line-height: 1.5;
  font-weight: normal;
  text-align: left;
  &.bold {
    font-weight: bold;
  }
  &.secondary {
    background-color: transparent;
    border-color: colors.$elevation;
  }
  &.secondary:hover {
    background-color: transparent;
    color: colors.$background-text;
    border-color: colors.$primary;
  }
  &.primary {
    border-color: colors.$primary-light;
    color: colors.$primary;
    background-color: transparent;
  }
  &.primary:hover {
    box-shadow: 0 0 10px 0px colors.$primary;
    border-color: colors.$primary;
    background-color: transparent;
  }
  &.fill,
  &.paper {
    backdrop-filter: vars.$elevation-filter;
    background-color: colors.$elevation;
    color: colors.$background-text;
  }
  &.paper {
    border: 0;
  }
}
