@use "vars";

$primary: var(--ls-primary);
$primary-text: var(--ls-primary-text);
$primary-text-highlight: var(--ls-primary-text-highlight);
$primary-light: var(--ls-primary-light);
$background: var(--ls-background);
$background-text: var(--ls-background-text);
$background-text-light: var(--ls-background-text-light);
$elevation: var(--ls-elevation);
$font-family: var(--ls-font-family);

:root {
  --ls-primary: #{vars.$color-primary};
  --ls-primary-text: #{vars.$color-primary-text};
  --ls-primary-text-highlight: #{vars.$color-primary-text-highlight};
  --ls-primary-light: #{vars.$color-primary-light};
  --ls-elevation: #{vars.$color-elevation};
  --ls-background: #{vars.$color-background};
  --ls-background-text: #{vars.$color-background-text};
  --ls-background-text-light: #{vars.$color-background-text-light};
  --ls-font-family: #{vars.$font-family};
}
