@use 'colors';
@use 'vars';

input {
  accent-color: colors.$primary;
  border: 0;
  padding: 8px;
  margin: 4px 0;
  border-radius: vars.$border-radius;
  background-color: colors.$elevation;
  color: colors.$background-text;
  &:not([type=checkbox]) {
    width: 100%;
  }
  &[type=checkbox] {
    width: 1em;
    height: 1em;
  }
  &:focus {
    outline: 2px solid colors.$primary;
  }
}

.form-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  label {
    font-weight: bold;
  }
  input:not([type=checkbox]) {
    flex: 1;
  }
}