@use 'vars';
@use 'mixins/input' as input-mixins;
@use 'mixins/button' as button-mixins;

@if vars.$enable-default-styling {
  input {
    @include input-mixins.input-base;
  }
}

.input {
  @include input-mixins.input-base;
}

.form-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  label {
    font-weight: bold;
  }
  input:not([type=checkbox]) {
    flex: 1;
  }
}

@if vars.$enable-default-styling {
  select {
    @include input-mixins.choice-base;
  }
  textarea {
    @include input-mixins.choice-base;
  }
}

.select,
.textarea {
  @include input-mixins.choice-base;
}

@if vars.$enable-default-styling {
  select {
    @include input-mixins.select-enhancements;
  }
}

.select {
  @include input-mixins.select-enhancements;
}

.resize-vertical {
  resize: vertical;
}

@if vars.$enable-default-styling {
  option {
    @include input-mixins.option-base;
  }
}

.option {
  @include input-mixins.option-base;
}

@if vars.$enable-default-styling {
  button {
    @include button-mixins.button-disabled;
  }
}

.btn {
  @include button-mixins.button-disabled;
}

@if vars.$enable-default-styling {
  input[type=text]:read-only,
  input[type=number]:read-only,
  textarea:read-only {
    @include input-mixins.readonly-base;
  }
}

.input[type=text]:read-only,
.input[type=number]:read-only,
.textarea:read-only,
.input.readonly,
.textarea.readonly {
  @include input-mixins.readonly-base;
}
