@use "colors";
@use "vars";

.container {
  padding: 0 20px;
  @each $breakpoint, $value in vars.$breakpoints {
    &-#{$breakpoint} {
      max-width: $value;
      margin: 0 auto;
      padding: 0 20px;
    }
  }
}

@each $breakpoint, $value in vars.$breakpoints {
  .w-#{$breakpoint} {
    width: $value;
  }
  .h-#{$breakpoint} {
    height: $value;
  }
}

.full {
  width: 100%;
  height: 100%;  
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.flex {
  flex: 1;
}

@for $i from 1 through vars.$steps {
  .flex-#{$i} {
    flex: $i;
  }
}


@each $breakpoint, $value in vars.$spacing {
  .gap-#{$breakpoint} {
    gap: $value;
  }
  .p-#{$breakpoint} {
    padding: $value;
  }
  .m-#{$breakpoint} {
    margin: $value;
  }
  .ph-#{$breakpoint} {
    padding-left: $value;
    padding-right: $value;
  }
  .pv-#{$breakpoint} {
    padding-top: $value;
    padding-bottom: $value;
  }
  .mh-#{$breakpoint} {
    margin-left: $value;
    margin-right: $value;
  }
  .mv-#{$breakpoint} {
    margin-top: $value;
    margin-bottom: $value;
  }
  .pt-#{$breakpoint} {
    padding-top: $value;
  }
  .pr-#{$breakpoint} {
    padding-right: $value;
  }
  .pb-#{$breakpoint} {
    padding-bottom: $value;
  }
  .pl-#{$breakpoint} {
    padding-left: $value;
  }
  .mt-#{$breakpoint} {
    margin-top: $value;
  }
  .mr-#{$breakpoint} {
    margin-right: $value;
  }
  .mb-#{$breakpoint} {
    margin-bottom: $value;
  }
  .ml-#{$breakpoint} {
    margin-left: $value;
  }
}

.col {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrap {
  flex-wrap: wrap;
}

.no-wrap {
  flex-wrap: nowrap;
}

$alignments: (
  start: flex-start,
  center: center,
  end: flex-end,
  stretch: stretch,
);

$justifyments: (
  start: flex-start,
  center: center,
  end: flex-end,
  between: space-between,
  around: space-around,
  evenly: space-evenly,
);

@each $name, $value in $alignments {
  .align-#{$name} {
    align-items: $value;
  }
  .align-self-#{$name} {
    align-self: $value;
  }
  .justify-self-#{$name} {
    justify-self: $value;
  }
}

@each $name, $value in $justifyments {
  .justify-#{$name} {
    justify-content: $value;
  }
}

.h-divider {
  height: 100%;
  width: 2px;
  margin: 0 8px;
  background-color: colors.$elevation;
}

.v-divider {
  height: 2px;
  width: 100%;
  margin: 8px 0;
  background-color: colors.$elevation;
}
