@use "vars";

.list {
  list-style-type: none;
  padding: unset;
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-item {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: flex-start;
}

.list-item-subtitle {
  color: #aaa;
  min-width: 7rem;
}

.list-item-title {
  min-width: 15rem;
}
