@use "vars";
@use "colors";
@use "mixins/typo" as typo;

@if vars.$enable-default-styling {
  * {
    @include typo.universal-base;
  }
}

@if vars.$enable-default-styling {
  html,
  body {
    @include typo.root-base;
  }
}

.html,
.body {
  @include typo.root-base;
}

@if vars.$enable-default-styling {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    @include typo.heading-highlight;
  }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.strong,
.b {
  @include typo.heading-highlight;
}

@if vars.$enable-default-styling {
  a {
    @include typo.link-base;
  }
}

.link {
  @include typo.link-base;
}

@if vars.$enable-default-styling {
  nav a {
    @include typo.nav-link-base;
  }
}

.nav-link {
  @include typo.nav-link-base;
}

@if vars.$enable-default-styling {
  content {
    @include typo.content-base;
  }
}

.content {
  @include typo.content-base;
}

@if vars.$enable-default-styling {
  table {
    @include typo.table-base;
  }
}

.table {
  @include typo.table-base;
}

@if vars.$enable-default-styling {
  img {
    @include typo.img-base;
  }
}

.img {
  @include typo.img-base;
}

@if vars.$enable-default-styling {
  code {
    @include typo.code-base;
  }
}

.code {
  @include typo.code-base;
}

@if vars.$enable-default-styling {
  pre {
    @include typo.pre-base;
  }
}

.pre {
  @include typo.pre-base;
}

@if vars.$enable-default-styling {
  pre > code {
    @include typo.pre-code-reset;
  }
}

.pre > .code {
  @include typo.pre-code-reset;
}

@if vars.$enable-default-styling {
  blockquote {
    @include typo.blockquote-base;
  }
}

.blockquote {
  @include typo.blockquote-base;
}

.title {
  font-size: 5rem;
}

.subtitle {
  font-size: 3rem;
}

.title,
.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

@media (max-width: vars.$mobile-breakpoint) {
  .title {
    font-size: 3rem;
  }
  .subtitle {
    font-size: 2rem;
  }
}
.section-title {
  font-size: 3rem;
  text-align: center;
}
.big-section {
  padding: 2rem;
}
.long-section {
  padding: 4rem 2rem;
}

$alignments: (
  "left": left,
  "center": center,
  "right": right,
  "justify": justify,
);

@each $name, $value in $alignments {
  .text-#{$name} {
    text-align: $value;
  }
}

.highlight {
  color: colors.$background-text-light;
  font-weight: bold;
}

.h-divider {
  height: 100%;
  width: 2px;
  margin: 0 8px;
  background-color: colors.$elevation;
}

@if vars.$enable-default-styling {
  hr {
    @include typo.divider-base;
  }
}

.hr,
.v-divider {
  @include typo.divider-base;
}

.no-decoration,
.no-decoration:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.text {
  color: colors.$background-text;
}
.primary {
  color: colors.$primary;
}

.invert {
  filter: invert(100%);
}

.icon {
  width: 1.5em;
  height: 1.5em;
  display: block;
}

$headings: (
  "h1": 2.5rem,
  "h2": 2rem,
  "h3": 1.75rem,
  "h4": 1.5rem,
  "h5": 1.25rem,
  "h6": 1rem,
);

@each $name, $value in $headings {
  @if vars.$enable-default-styling {
    #{$name} {
      @include typo.heading-base($value);
    }
  }
  .#{$name} {
    @include typo.heading-base($value);
  }
}
