@use 'colors';
@use 'button';
@use 'hero';
@use 'layout';
@use 'nav';
@use 'typo';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Roboto', sans-serif;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.5;
  background: colors.$background;
  color: colors.$background-text;
}
