@use 'vars';

$primary: var(--ls-primary);
$primary-text: var(--ls-primary-text);
$background: var(--ls-background);
$background-text: var(--ls-background-text);
$background-text-light: var(--ls-background-text-light);
$panel: var(--ls-panel);
$panel-text: var(--ls-panel-text);
$panel-text-light: var(--ls-panel-text-light);

:root {
  --ls-primary: #35EF53;
  --ls-primary-text: #000;
  --ls-background: #282C34;
  --ls-background-text: #ddd;
  --ls-background-text-light: #fff;
  --ls-panel: #393D45;
  --ls-panel-text: #ddd;
  --ls-panel-text-light: #fff;
}
