@use 'colors';
@use 'button';
@use 'list';
@use 'nav';
@use 'typo';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Roboto', sans-serif;
  background: colors.$background;
  color: colors.$background-text;
}

body {
	margin: auto;
	padding: 20px;
	text-align: left;
	background-color: #fff;
	word-wrap: break-word;
	overflow-wrap: break-word;
	line-height: 1.5;
	color: colors.$background-text;
	background-color: colors.$background;
	max-width: 64em;
}
