.touchable
    position: relative
    overflow: hidden
    transition-property: background-color, border-color, box-shadow
    transition-duration: 200ms
    outline: 0
    border-radius: 0.5rem
    cursor: pointer
    z-index: 0
    zoom: normal
    border: 0
    width: fit-content
    background: transparent
    padding: 0.5em
    &:hover
        background-color: #6750A488
    &:active
        background-color: #6750A4AA
        outline: 0
    &--filled
        background-color: #6750A455
    &--outlined
        padding: 0.25em 0.5em
        border: 0.3em solid #6750A455
        &:hover
            border-color: #6750A4
            background-color: transparent
        &:active
            border-color: #6750A4
            background-color: #6750A455
